---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Socialicons from "@components/ui/socialicons.astro";
import Nightmode from "@components/ui/Nightmode.astro";

const menuitems = [
  {
    title: "About us",
    path: "/about",
    target: "",
  },
  {
    title: "Courses",
    path: "/courses",
    children: [
      { title: "Plab 2 Courses", path: "/courses/plab2" },
      { title: "Beyond Plab Courses", path: "/courses/beyond" },
    ],
    target: "",
  },
  {
    title: "Team",
    path: "/team",
    target: "",
  },

  {
    title: "Accommodation",
    path: "/accommodation",
    target: "",
  },
  {
    title: "Resources",
    path: "/resources",
    target: "",
  },
];
---
<nav class="border-gray-200 dark:bg-slate-900 bg-slate-900">
  <div
    class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-1"
  >
    <div><Socialicons /></div>
    <div class="flex items-center">
      <a class="text-white text-sm pr-4" href="#">552 Claremont Road, Manchester, M14 5XL</a>
      <a
        href="tel:07865127757"
        class="text-sm text-gray-500 dark:text-white hover:underline"
        >Landline : (+44) 7865 127757</a
      ><div class="pl-1"><Nightmode /></div>
    </div>
  </div>
</nav>
<div class="bg-medbg dark:bg-medbgdark">
  <header
    class="flex flex-col lg:flex-row justify-between items-center px-4 md:px-0 py-3 max-w-screen-xl mx-auto"
  >
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-xl">
          <img
            src="/fa2b3c00-2423-4c15-be39-4d4beda7092d.webp"
            alt=""
            width="200"
            height=""
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 m-2 text-white" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto p-2 mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    path={item.path}
                    target={item.target}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                    
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      target={item.target}
                      class="flex lg:px-3 py-2 text-white hover:text-gray-200"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="/contact" size="md" block>Lets Talk</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link href="/contact" size="md" style="inverted">Lets Talk</Link>
      </div>
    </div>
  </header>
</div>
