---
import { Icon } from "astro-icon";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const highlights = [
  {
    name: "24/7 access",
    icon: "fluent:access-time-20-filled",
    desc: "24/7 access",
  },
  {
    name: "Special Requirements",
    icon: "zondicons:location-restroom",
    desc: "Separate for males and females",
  },
  {
    name: "Services Included",
    icon: "fluent:emoji-sparkle-48-filled",
    desc: "Cleaning service included, Super fast wifi included",
  },
  {
    name: "Excellent Accommodation",
    icon: "subway:star",
    desc: "Excellent accommodation for PLAB 2 doctors",
  },

  {
    name: "Affordable Rates",
    icon: "fluent:document-ribbon-28-filled",
    desc: "Starting from £150/week",
  },
  {
    name: "Bills included",
    icon: "fluent:document-text-extract-20-filled",
    desc: "Bills included",
  },
];
---


  <section>
    <div class="">
      <h2 class="text-4xl font-extrabold dark:text-white pb-4">
        A Great Location
      </h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        <div>
          <div class="">
            <p class="text-gray-500 dark:text-gray-400 pb-4">
              We are ideally situated on the world-famous ‘Curry Mile’ -
              Manchester! You could not ask for a better location, The GMC exam
              building is only a short distance away and you can easily visit
              before your exam day to familiarise yourself with the surroundings
              and location. <br />
              <br />
              A vibrent multi-cultural area so Wherever in the world you are coming
              from, you will not struggle to meet people and find cuisine from your
              region!, at our doorsteps you will find:
              <br />
            </p>
          </div>
        </div>
        <div>
          <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >
              <span>
                Restaurants, cafes and food stalls, offering multi-cultural
                cuisine including Halal and vegetarian food.</span
              >
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >
              <span
                >International supermarkets and grocery stores religious and
                cultural centres, catering to people of different faiths and
                ethnicities.</span
              >
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >
              <span
                >Religious and cultural centres, catering to people of different
                faiths and ethnicities.
              </span>
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >
              <span
                >Our own and other affordable accommodation for students and
                professionals.</span
              >
            </li>
            <li class="flex items-center space-x-3">
              <!-- Icon -->
              <svg
                class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-medbglight"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"></path></svg
              >
              <span
                >Convenient transport links to the rest of the city and much
                more...</span
              >
            </li>
          </ul>
        </div>

        
      </div>
    </div>
    <!--
  <main>
    <div class="my-4">
      <ul class="grid grid-cols-3 md:grid-cols-6 gap-4">
        {
          highlights.map((item) => (
            <li>
              <div class="">
                <div class=" flex flex-col items-center mb-2">
                  <div class="relative">
                  <div class=" bg-medbg dark:bg-medbgdark rounded-full p-2 w-12 h-12 shrink-0 mb-4 ">
                    <Icon class="text-white" name={item.icon} />
                  </div>

                  <button
                    data-popover-target={item.name}
                    data-popover-placement="bottom-end"
                    type="button"
                    class="flex"
                  >
                    <>
                      <div class="absolute inline-flex  justify-center w-6 h-6 text-sm font-bold text-white bg-yellow-300 border-2 border-white rounded-full -top-2 -right-2 md:-right-[10px] dark:border-gray-900 ">
                        ?
                      </div>
                      <span class="sr-only">Show information</span>
                    </>
                  </button>
                </div>
                  
                  <div
                    data-popover
                    id={item.name}
                    role="tooltip"
                    class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"
                  >
                    <div class="p-3 space-y-2">
                      <p>{item.desc}</p>
                      <a
                        href="#"
                        class="flex items-center font-medium text-blue-600 dark:text-blue-500 dark:hover:text-blue-600 hover:text-blue-700"
                      >
                        Book{" "}
                        <svg
                          class="w-4 h-4 ml-1"
                          aria-hidden="true"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </a>
                    </div>
                    <div data-popper-arrow />
                  </div>
                  <div class="text-gray-500 dark:text-gray-400 text-center text-sm">{item.name}</div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </main>
-->
  </section>

