---
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";
import Card from "./ui/card.astro";

const publishedcoursesEntries = await getCollection("beyond");

// Sort content entries by publication date
publishedcoursesEntries.sort(function (a, b) {
  return b.data.order - a.data.order;
});
---

<main class="">
  <div class="my-12 md:mt-16">
    <div class="flex justify-center">
      <a href="/courses/beyond"
        ><h2
          class="text-center lg:text-start text-2xl lg:text-2xl font-bold lg:tracking-tight"
        >
          Beyond Plab
        </h2>
      </a>
    </div>
  </div>

 

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12 mx-auto">
    {
      publishedcoursesEntries.map((courseEntry, index) => (
        <div class="group shadow-md h-max ">
          <a href={`/courses/${courseEntry.slug}`}>
            <Card image={courseEntry.data.image.src}
                alt={courseEntry.data.image.alt}
                index={index}
                title={courseEntry.data.title}
                snippet={courseEntry.data.snippet}
                 />
          </a>
        </div>
      ))
    }
  </div>
</main>
