---
// @ts-ignore
import { Icon } from "astro-icon";
import {featureswebdesign} from "@utils/featurelist.ts";


---
<div class="">
  <div class=" mt-16 md:mt-0">
    <div class="flex justify-center">
      <h2 class="text-center lg:text-start text-4xl lg:text-5xl font-bold lg:tracking-tight">
      The Help you need
    </h2>
  </div>
    <p class=" text-center text-lg mt-4 text-slate-600">
      ___
    </p>
  </div>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-10 md:gap-16">
  {
    featureswebdesign.map((item) => (
      
          <div class="flex gap-4 items-start">
            <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
              <Icon class="text-white" name={item.icon} />
            </div>
            <div>
              <a href={item.path}><h3 class="font-semibold text-lg">{item.title}</h3></a>
              <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
            </div>
          </div>
     
    ))
  }
</div>
