---
import { Picture } from "@astrojs/image/components";
import { getCollection } from "astro:content";

const publishedcoursesEntries = await getCollection("courses");

// Sort content entries by publication date
publishedcoursesEntries.sort(function (a, b) {
  return b.data.order - a.data.order;
});
---



<main class="">

  <div class="my-12">
    <div class="flex justify-center">
      <h2
        class="text-center lg:text-start text-2xl lg:text-2xl font-bold lg:tracking-tight"
      >
        Plab 2 Courses
      </h2>
    </div>
  </div>

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-12 mx-auto">
    {
      publishedcoursesEntries.map((courseEntry, index) => (
        <div class="group  shadow-md">
          <a href={`/courses/${courseEntry.slug}`}>
            <div class="items-center">
              <Picture
                src={courseEntry.data.image.src}
                alt={courseEntry.data.image.alt}
                sizes="(max-width: 800px) 100vw, 800px"
                widths={[200, 400, 800]}
                aspectRatio="16:9"
                background="#ffffff"
                fit="cover"
                position="center"
                loading={index <= 2 ? "eager" : "lazy"}
                decoding={index <= 2 ? "sync" : "async"}
                class="w-full rounded-t-md"
              />
              <div class="bg-red-800 rounded-b-md">
                <div class="flex h-14 align-middle items-center justify-center">
                  <h2 class="font-semibold text-white text-lg tracking-tight text-center">
                    {courseEntry.data.title} courses
                  </h2>
                </div>

                <p class="text-white text-center text-sm pb-5 px-5">
                  {courseEntry.data.snippet}
                </p>
              </div>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</main>
