---

import { getCollection } from "astro:content";
import Card from "./ui/card.astro";

const publishedcoursesEntries = await getCollection("courses");

// Sort content entries by publication date
publishedcoursesEntries.sort(function (a, b) {
  return b.data.order - a.data.order;
});
---

<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto">
  {
    publishedcoursesEntries.map((courseEntry, index) => (
      <div class="group shadow-md h-max ">
        <Card
          href={courseEntry.slug}
          image={courseEntry.data.image.src}
          alt={courseEntry.data.image.alt}
          index={index}
          title={courseEntry.data.title}
          snippet={courseEntry.data.snippet}
          category={courseEntry.data.category}
        />
      </div>
    ))
  }
</div>
