---
import { urlFor } from "../utils/image";
import { getCourses } from "@utils/sanity";

import Card from "./ui/card.astro";
const course = await getCourses();
---

<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto">
  {
    course.map((courseEntry, index) => (
      <div class="group shadow-md h-max ">
        <Card
          href={`${courseEntry.slug.current}`}
          image={urlFor(courseEntry.mainImage).url()}
          alt={courseEntry.excerpt}
          index={index}
          title={courseEntry.title}
          snippet={courseEntry.excerpt}
          category={courseEntry.courseType}
        />
      </div>
    ))
  }
</div>
