---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const portfoliontries = await getCollection("portfolio");
  return portfoliontries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>

    <div class="mb-8 mx-auto max-w-[735px]"><Picture
      src={entry.data.image.src}
      alt={entry.data.image.alt}
      sizes="(max-width: 800px) 100vw, 800px"
      widths={[200, 400, 800]}
      aspectRatio="16:9"
      background="#ffffff"
      fit="cover"
      position="center"
      class="w-full rounded-t z-0"
    />
    
  </div> 

    <div class="mx-auto max-w-[735px] my-8 pb-8 text-center border-b">
      <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
        {entry.data.category}
      </span>
      <h1
        class="text-4xl lg:text-5xl prose font-bold lg:tracking-tight my-5 lg:leading-tight text-black">
        {entry.data.title}
      </h1> 
      <a href={`https:/${entry.data.liveurl}`}>{entry.data.liveurl}</a>


  
    </div>

    <div class="mx-auto prose prose-lg">
      
      <Content />
    </div>
    <div class="text-center mt-8">
      <a
        href="/portfolio"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >â† Back to Portfolio</a
      >
    </div>
  </Container>
</Layout>
