---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedportfolioitems = await getCollection("portfolio", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedportfolioitems.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

---
<Layout title="Use cases">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Use cases</Fragment>
      <Fragment slot="desc">
        My work.
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedportfolioitems.map((portfolioEntry, index) => (
            <li>
              <a href={`/portfolio/${portfolioEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <Picture
                    src={portfolioEntry.data.image.src}
                    alt={portfolioEntry.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    widths={[200, 400, 800]}
                    aspectRatio="16:9"
                    background="#ffffff"
                    fit="cover"
                    position="center"
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    format={'png'}
                    class="w-full rounded-md"
                  />
                  <div class="">
                    <div class="w-full md:w-auto flex flex-wrap gap-3">
          {portfolioEntry.data.tags.map((tag) => (<span class="text-sm text-gray-500">#{tag}</span>))}
        </div>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {portfolioEntry.data.title}
                    </h2>

                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>

    
  </Container>
</Layout>