---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const courseEntries = await getCollection("courses");
  const beyondEntries = await getCollection("beyond"); // Fetch beyond collection data
  const allEntries = [...courseEntries, ...beyondEntries]; // Merge both collections' data

  return allEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <Container>
    <div class="my-8 mx-auto max-w-[735px]">
      <Picture
        src={entry.data.image.src}
        alt={entry.data.image.alt}
        sizes="(max-width: 800px) 100vw, 800px"
        widths={[200, 400, 800]}
        aspectRatio="16:9"
        background="#ffffff"
        fit="cover"
        position="center"
        class="w-full rounded-t z-0"
      />
    </div>

    <div class="mx-auto max-w-[735px] my-8 pb-8 text-center border-b">
      <span class="uppercase tracking-wider text-sm font-medium text-gray-500 dark:text-gray-400">
        {entry.data.category}
      </span>
      <h1
        class="text-4xl lg:text-5xl prose font-bold lg:tracking-tight mt-1 lg:leading-tight text-medbg"
      >
        {entry.data.title}
      </h1>
    </div>

    <div class="mx-auto prose prose-lg mt-6 text-gray-500 dark:text-gray-400">
      <Content />
    </div>
    <div class="mx-auto max-w-[735px] bg-slate-100 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12 my-10">
      <p class="text-xl text-center font-bold mb-5 text-gray-500 dark:text-gray-400">Course Dates</p>
      <ul class="flex flex-wrap items-center justify-center gap-7 text-gray-500 dark:text-gray-400">
        {entry.data.dates.map((item: any) => <li class="list-none">{item}</li>)}
      </ul>
    </div>
   
    <div class="text-center mt-8">
      <a
        href="/courses"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >â† Back to all Courses</a
      >
    </div>
  </Container>
</Layout>
