---
import { Picture } from "@astrojs/image/components";

const { title, image, alt, index, snippet, href, category } = Astro.props;


---

<div
  class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href={`/courses/${href}`}>
    <Picture
      src={image}
      alt={alt}
      sizes="(max-width: 800px) 100vw, 800px"
      widths={[200, 400, 800]}
      aspectRatio="16:9"
      background="#ffffff"
      fit="cover"
      position="center"
      loading={index <= 2 ? "eager" : "lazy"}
      decoding={index <= 2 ? "sync" : "async"}
      class="rounded-t-lg"
    />
  </a>
  <div class="p-5 h-64 justify-between flex flex-col">
    <a href={`/courses/${href}`}>
      <h5
        class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {title}
      </h5>
      <div>
        <span
          class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300"
          >{category}</span
        >
      </div>
    </a>

    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{snippet}</p>
    <a
      href={`/courses/${href}`}
      class="justify-end inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-medbg rounded-lg hover:bg-medbglight focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-medbg dark:hover:bg-medbgdark dark:focus:ring-blue-800"
    >
      Read more
      <svg
        aria-hidden="true"
        class="w-4 h-4 ml-2 -mr-1"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        ><path
          fill-rule="evenodd"
          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
          clip-rule="evenodd"></path></svg
      >
    </a>
  </div>
</div>

